nav{
    box-shadow: 0px 2px 12px  rgba(0,0,0,.4);
}
.row.text-center>div{
    padding: 12px;
}
.row.text-center img{
    max-height: 25px;
    margin: 0 auto;
}
.row.text-center a{
    color: #000;
}
.row.text-center .active>a{
    color: lightsalmon;

}
.row.text-center a:hover{
    text-decoration: none;
    color: lightsalmon;
}

.shadow-bar{
    position: absolute;
    z-index: 400;
    height: 80px;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.4);
}
/*.container>.row>div{*/
    /*background-color: yellow;*/
/*}*/
/*.container-fluid div{*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/
/*.container-fluid img{*/
    /*height: 100vh;*/
    /*margin:0;*/
    /*padding:0;*/
    /*!*min-width: 20%;*!*/
/*}*/
#img-control{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: stretch;
    max-height: 100vh;
    overflow: hidden;
}
#img-control div{
    background-color: rgba(0,0,0,0.7);
    z-index: 300;
    flex-grow: 1;
}
#img-control div img{
    opacity:0.4;
    padding:0 1px;
    width: 100%;
}
#img-control div img:hover{
    opacity: 1;
}

/*third*/
/**{*/
    /*margin:0;*/
    /*padding:0;*/
/*}*/

/*#main{*/
    /*column-width: 202px;*/
/*}*/

/*.box{*/
    /*padding: 15px 7px 0 7px;*/
    /*float: left;*/
/*}*/

/*.pic{*/
    /*border: 1px solid #dddddd;*/
/*}*/

/*.pic img{*/
    /*width: 165px;*/
    /*padding: 10px;*/
/*}*/
*{padding:0;margin:0}
/*给大盒子添加样式*/
#con{
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    align-items: center;
    /*align-content: flex-start;*/
    /*width: 90vw;*/
    height: 1200px;
    margin:60px auto;
    border-radius:25px;
    padding:20px;

    /*下面代码是兼容各个浏览器的，并实现了四列，没两列之间间距为30px，*/
    /*-moz-column-count:4;-moz-column-gap:30px;-moz-column-rule:0px solid #ff0000;   //火狐浏览器*/
/*-webkit-column-count:4;-webkit-column-gap:30px;-webkit-column-rule:0px solid #ff0000;   //Google chrome*/
/*-o-column-count:4;-o-column-gap:30px;-o-column-rule:0px solid #ff0000;   //Opera浏览器的*/
}

/*小盒子内容区的样式，display:inline-block：实现 效果*/
#con .pic{
    /*flex-grow: 1;*/
    width:188px;
    min-height:100px;
    box-shadow:2px 2px 6px #b5b5b5;
    padding:20px 15px;
    margin:10px;
    /*display:inline-block;*/
    overflow: hidden;
}


#con h5{border-bottom:1px solid #ddd;line-height:30px;text-align:center;padding:5px 5px;}
#con h5 a{text-decoration:none;color:#999;}
#con .pic:hover{
    transform: scale(1.05);
}
#con .pic img:hover{
    cursor: pointer;

}
/*#con  p{font-size:12px;color:#666;line-height:20px;white-space:nowrap;overflow:hidden;*/
    /*!*很多文字，一行显示不下，用省略号显示的代码*!*/
    /*text-overflow:ellipsis;-o-text-overflow:ellipsis;*/
    /*-moz-text-overflow: ellipsis; -webkit-text-overflow: ellipsis;  }*/


#second-outside{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

#second-outside-title{
    margin: 70px 400px 50px;
}

#second-outside-content{
    width: 60vw;
    height: 400px;


}

#second-outside-content div{
    box-shadow:2px 2px 6px #b5b5b5;
    margin: 5px;
    float: left;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-end;
}
#second-outside-content div span{
    display: none;
    font-size: 3em;
    color:rgba(0, 0, 0, 0.6);


}
#second-outside-content div:hover{
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}

#big-one{
    width: 48%;
    height: 98%;
    background-image: url(../img/2.jpg);

}

#long-one{
    width: 49%;
    height: 48%;
    background-image: url(../img/ie-big.jpg);
    background-size: cover;
}

.small-one{
    width: 24%;
    height: 48%;
    background-image: url(../img/3.jpg);
    background-size: cover;
}



#fourth-outside{
    /*background-color: yellow;*/
    width: 100%;
    height: 700px;
    /*height: 100%;*/
    background-image: url("../img/big-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    position:absolute;
    left:0;
    top:0;
}
#fourth{
    z-index: 300;
    width: 600px;
    height: 400px;
    background-color: whitesmoke;
    position: fixed;
    top: 20vh;
    left: 30vw;

}
#fourth ul li.active a{
    color: red;
    font-size: 1.2em;
    width: 150px;
    background-color: whitesmoke;
}
#fourth ul li a{
    color: whitesmoke;
    font-size: 1.2em;
    width: 150px;
    background-color: red;
}